SECRET_KEY=9eermepbyav8m2o^d3(u5*5m9arytnu8*=1v^#wo_(96&o*2@)
DEBUG=True
ALLOWED_HOSTS=99.999.999.999
CSRF_TRUSTED_ORIGINS=http://99.999.999.999:80
PORT=8001
POSTGRES_DB=quiz_db
POSTGRES_USER=quiz_admin
POSTGRES_PASSWORD=Password123
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SETTINGS_MODULE=tests_app.settings
DOCKER_REGISTRY=yourdockerregistry
