{% extends 'base.html' %}

{% block title %}Ошибка обработки результата теста{% endblock %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:all_topics' %}">Начало</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ topic_obj }}</li>
  </ol>
</nav>
<div class="row">
    <div style="color: red; text-align: center;">Ой!<br>Что-то пошло не так с обработкой результатов тестирования:<br>необходимо пройти тест еще раз!</div>
    <div class="col-md-10 mx-auto mb-3">
        <table class="table">
             <thead>
                <th>Тест из набора "{{ topic_obj }}"</th>
                <th></th>
            </thead>
            <tbody>
                {% for obj in tests %}
                <tr>
                    <td>{{obj.name}}</a></td>
                    <td><a href="{% url 'quiz:reset_start_test' topic obj.id %}" role="button" class="btn btn-info">Начать тест</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}