{% extends 'base.html' %}

{% block title %}Результаты тестов{% endblock %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:all_topics' %}">Начало</a></li>
    <li class="breadcrumb-item active" aria-current="page">История всех наборов тестов</li>
  </ol>
</nav>
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        <h4>Все тесты:</h4>
        <table class="table">
             <thead>
                <th>Набор:</th>
                <th>Тест:</th>
                <th>Оценка:</th>
                <th colspan="3">Дата:</th>
            </thead>
            <tbody>
                {% for obj in attempts %}
                <tr>
                    <td>{{ obj.topic }}</td>
                    <td>{{ obj.quiz }}</td>
                    <td>{{ obj.score }}</td>
                    <td>{{ obj.date }}</td>
                    <td>
                        {% if obj.score == "100.0%" %}
                            <span style="color: darkgreen">Нет ошибок</span>
                        {% else %}
                            <a href="{% url 'quiz:test_errors' obj.id %}" role="button" class="btn btn-warning">Ошибки</a>
                        {% endif %}
                    </td>
                    <td>
                       {% for q_key,q_value in quiz_id_info.items %}
                            {% if q_key == obj.quiz %}
                                {% for t_key,t_value in topic_id_info.items %}
                                    {% if t_key == obj.topic %}
                                        <a href="{% url 'quiz:reset_start_test' t_value q_value %}" role="button" class="btn btn-info">Пройти тест</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}