{% extends 'base.html' %}

{% block title %}Результаты тестов{% endblock %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:all_topics' %}">Начало</a></li>
    <li class="breadcrumb-item active" aria-current="page">История всех наборов тестов</li>
  </ol>
</nav>
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        <h4>Все тесты:</h4>
        <table class="table">
             <thead>
                <th>Набор:</th>
                <th>Тест:</th>
                <th>Оценка:</th>
                <th colspan="3">Дата:</th>
            </thead>
            <tbody>
                {% for obj in attempts %}
                <tr>
                    <td>{{ obj.topic }}</td>
                    <td>{{ obj.quiz }}</td>
                    <td>{{ obj.score }}</td>
                    <td>{{ obj.date }}</td>
                    <td>
                        {% if obj.score == "100.0%" %}
                            <span style="color: darkgreen">Нет ошибок</span>
                        {% else %}
                            <a href="{% url 'quiz:test_errors' obj.id %}"role="button" class="btn btn-warning">Ошибки</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" role="button" class="btn btn-info">Пройти еще раз</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'quiz:all_topics' %}"role="button" class="btn btn-info">Все темы</a>
        <a href="{% url 'quiz:history_topics' %}"role="button" class="btn btn-info">Результаты</a>
    </div>
</div>
{% endblock %}