{% extends 'base.html' %}

{% block title %}Ошибки теста{% endblock %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'quiz:all_topics' %}">Начало</a></li>
        <li class="breadcrumb-item"><a href="{% url 'quiz:tests' topic.id %}">Набор: {{ topic.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Тест: "{{ test }}"</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        <h4>Ошибки теста "{{ test }}" от {{ mark.date }}:</h4>
        <table class="table">
             <thead>
                <th>Вопрос:</th>
                <th>Ответ студента:</th>
                <th>Правильный ответ:</th>
                <th>Ответ засчитан:</th>
            </thead>
            <tbody>
                {% for key,value in errors_dict.items %}
                <tr>
                    <td>{{ key.question }}</td>
                    <td>{% for ans in value.err %}
                            {{ ans }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for opt in value.cor %}
                            {{ opt }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <img src="/static/admin/img/icon-no.svg" alt="Неправильно">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <table align="center" cellpadding="5" style="border: 1px solid black;">
            <thead>
                <th colspan="4" align="right">Итоговый результат по тесту "{{ test }}" от <b>{{ mark.date }}</b></th>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid black;">правильных ответов</td>
                    <td style="border: 1px solid black;">неправильных ответов</td>
                    <td style="border: 1px solid black;">результат в %</td>
                    <td rowspan="2" style="border: 1px solid black;">
                        <a href="{% url 'quiz:reset_start_test' topic.id test.id %}" role="button" class="btn btn-danger">Пройти тест<br>еще раз</a>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">{{ cor_count }}</td>
                    <td style="border: 1px solid black;">{{ err_count }}</td>
                    <td style="border: 1px solid black;">{{ mark.score }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}