{% extends 'admin/change_list.html' %}
{{ context_var|safe }

{% block object-tools %}
    <form id="add-option-form" method="POST">
        {% csrf_token %}
        <span style="background-color: lightgrey; border: 1px solid lightblue;">
            <img src="/static/admin/img/tooltag-arrowright.svg" alt="для">
            Набор: <b>{{question_topic}}</b>
            <img src="/static/admin/img/tooltag-arrowright.svg" alt="для">
            Тест: <b>{{question_quiz}}</b>
            <img src="/static/admin/img/tooltag-arrowright.svg" alt="для">
            вопрос активирован: <b>{{question_accepted}}</b></span><br><br>
        <label>Добавить ОТВЕТ для вопроса: <span style="background-color: lightgrey; color: black; border: 1px solid lightgrey;"><b>{{ question_text }}</b></span><br><br>
        <input name="add-option" class="vTextField" size="50" required placeholder="Введите текст ответа" onkeyup="noSymbols(this)"><br>(макс.кол-во: 50 символов - кроме символов: ? / #)
        </label><br><br>
        <input type="checkbox" name="add_is_correct" id="new_is_correct" value="cor">
        <label class="vCheckboxLabel" for="new_is_correct">Правильный</label><br>
        <button class="button" type="submit"><img src="/static/admin/img/tooltag-add.svg" alt="Добавить">Добавить ответ</button>
    </form>
    <br>
    <script>
        let addOptionForm = document.querySelector('#add-option-form')
        function noSymbols(input) {
            let regex = /[?/#]/g;
            input.value = input.value.replace(regex,"")
        }
        addOptionForm.querySelector('input[name="add-option"]').addEventListener('change', function(e){
            let addOption = String(e.target.value)
            let addQuestionArray = window.location.search.split('=')
            let addQuestion = addQuestionArray[1]
            addOptionForm.action = 'new/'+ addQuestion + '/' + addOption + '/'
        })
        addOptionForm.addEventListener('submit', function(){
            let isCorrect = null
            let addIsCorrect = document.getElementById('new_is_correct')
            if (addIsCorrect.checked == true) {
                isCorrect = document.getElementById('new_is_correct').value
            } else {
                isCorrect = 'reg'
            }
            addOptionForm.action = addOptionForm.action + isCorrect + '/'
            console.log(addOptionForm.action)
        })
    </script>
{{ block.super }}

{% endblock object-tools %}
{% block object-tools-items %}
    <form id="save-options-form" method="POST">
        {% csrf_token %}
        <button class="button" type="submit" style="background-color: green;">Активировать вопрос</button>
    </form>
    <script>
        let saveOptionsLink = window.location.href
        let saveQuestionArray = saveOptionsLink.split('=')
        let saveQuestion = saveQuestionArray[1]
        let saveOptionsForm = document.querySelector('#save-options-form')
        saveOptionsForm.addEventListener('submit', function(){
            saveOptionsForm.action = 'save/'+ saveQuestion + '/'
        })
    </script>
{% endblock object-tools-items %}

{% block footer %}
    <form id="exit-options-form" method="POST" align="center">
        {% csrf_token %}
        <button class="button" type="submit" style="background-color: darkgoldenrod;">Завершить<br>редактирование</button>
    </form>
    <script>
        let exitOptionsLink = window.location.href
        let exitQuestionArray = exitOptionsLink.split('=')
        let exitQuestion = exitQuestionArray[1]
        let exitOptionsForm = document.querySelector('#exit-options-form')
        exitOptionsForm.addEventListener('submit', function(){
            exitOptionsForm.action = 'nosave/'+ exitQuestion + '/'
        })
    </script>
{% endblock %}
