{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}
{{ context_var|safe }}

{% block object-tools-items %}
    <form id="filter-questions-form" method="POST">
        {% csrf_token %}
        <label><img src="/static/admin/img/search.svg" alt="Фильтр">
        Выбрать ТЕСТ<br>для редактирования:</label><br>
        <select id="test_f" name="test_f">
                <option value="all_qzs_slctd" selected>ВСЕ</option>
            {% for obj in tests %}
                <option value={{obj.id}}>{{obj.name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <button class="button" type="submit">Выбрать</button>
    </form>
    <script>
        let filterTestForm = document.querySelector('#filter-questions-form')
        filterTestForm.action = 'all_qzs_slctd/'
        filterTestForm.querySelector('select[name="test_f"]').addEventListener('change', function(){
            let v = document.getElementById("test_f")
            let filterTest = String(v.value)
            filterTestForm.action = filterTest + '/'
        })
    </script>
{% endblock object-tools-items %}
